@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Old_Englished_Boots;
  src: url('./public/Old_Englished_Boots.ttf');
}

body {
  font-family: Old_Englished_Boots;
}

h1 {
  
}
